body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    margin: 0;
    padding: 0;
}

header {
    background: #020617;
    text-align: center;
    padding: 30px;
}

h1 {
    color: #38bdf8;
}

section {
    padding: 20px;
    margin: 10px;
    background: #020617;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #020617;
    margin-top: 20px;
}
